In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelBinarizer
import numpy as np

df = pd.read_csv("real_estate_unpro.csv")
df = df.drop('No', axis = 1)

df.columns = ['transaction_date', "house_age", "distance_MRT", "num_conv_stores", "latitude", "longitude", "house_price"]

target_col = 'house_price'

feature_names = [col for col in df.columns if col != target_col]

pro_data = df.dropna()

non_num_cols = [column for column in pro_data.drop([target_col], axis = 1).columns if pro_data[column].dtypes == "O"]
num_cols = [column for column in pro_data.drop([target_col], axis = 1).columns if column not in non_num_cols]

num_data = pro_data[num_cols]
cat_data = pro_data[non_num_cols]

In [2]:
pro_data

,transaction_date,house_age,distance_MRT,num_conv_stores,latitude,longitude,house_price
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...
409,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [3]:
pro_data.to_csv("real_estate.csv", index = False)

In [4]:
num_cols = pro_data.columns.drop('house_price')
one_hot_cols = None

col_dict = {"continuous": list(num_cols), "discrete": one_hot_cols}

import json

form = json.dumps(col_dict)
f = open("col_dict.json", "w")
f.write(form)
f.close()

with open('col_dict.json') as file:
    col_dict = json.load(file)
file.close()
col_dict

{'continuous': ['transaction_date',
  'house_age',
  'distance_MRT',
  'num_conv_stores',
  'latitude',
  'longitude'],
 'discrete': None}